# .gitignore - fichiers a ne pas versionner

# Environnement python
--pycache--/
*.pyc
venv/
.env

# Modele ML (trop gros pour GitHub)
models/*.pkl

#Fichiers OS
.DS_stotre
thumbs.db

# IDE
.vscode/
.idea/
